* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #e7e7e7;
  }


h5, hr{
    margin-top: 20px;
}

.header{
    background-color: #fff;
}

.header-elements{
    text-align: left;
    max-width: 60%;
    margin: auto;
    color: #515357;
    font-size: 30px;
    padding: 30px;
}

.header img{
    height: 100px;
}

.main-content{
    text-align: left;
    max-width: 60%;
    margin: auto;
    padding: 60px;
}

.inputs{
    padding-top: 30px;
}

.buttons{
    margin-top: 30px;
    text-align: center;
}