body {
  zoom: 2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #333;
  color: white
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
ol {
  text-align: left;
}

li {
  padding: 10px;
  font-size: 20px;
}

a {
  color: white  
}

a:visited {
  color: white
}

strong {
  color: #ff8052;
  font-size: 1.2em
}

button.isaac {
  color: #ff8052;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #ff8052;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

button.isaac:hover {
  color: white;
  background-color: #ff8052;
}

label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.notfound > img {
  height: 10rem;
}