body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.add-movie {
  margin: 30px;
}

.movie-card {
  width: 500px;
}

.movie-form {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

.loading {
  align-items: center;
  display: flex;
  font-size: 35px;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.not-found {
  font-size: 35px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}

.card .card-content p {
  margin-bottom: 15px;
}
