body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeeeee;
  }
  
  .app {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    border: none;
    background-color: #333333;
    border-radius: 5px;
    color: #ffffff;
    padding: 9px;
    margin: 1.8px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  img {
    border-radius: 5px;
    box-shadow: 3px 3px 12px #333;
    width: 100%;
    padding: 10px;
  }
  