@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --letterSpacing: 1px;
  --headingFont: 'Roboto', sans-serif;
}
html {
  font-size: 100%;
} /*16px*/

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.container {
  background-color: #282c34;
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 640px) {
  .container {
    padding: 20px;
  }
}

/* Componente HelloWorld */

.hello {
  margin-bottom: 16px;
}

.hello span {
  background-color: rgb(186, 235, 140);
  padding: 4px;
  margin-right: 4px;
  border-radius: 5px;
  font-size: 12px;
}
