<div class="container">
  <div class="row">
    <h2>Login Angular</h2>
    <hr/>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text" id="stemail" placeholder="Enter Email" [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassord1">Password</label>
          <input type="password" id="stpassword" placeholder="Enter Password" [(ngModel)]="password"
            [ngModelOptions]="{standalone: true}" />

        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="login(email,password)">Login</button>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="register()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>